@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Face Declarations */
@font-face {
  font-family: 'ABCDiatype';
  src: url('./assets/fonts/ABCDiatype-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCDiatype';
  src: url('./assets/fonts/ABCDiatype-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCDiatype';
  src: url('./assets/fonts/ABCDiatype-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCDiatype';
  src: url('./assets/fonts/ABCDiatype-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  img {
    @apply inline-block;
  }
}
